* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}
input,textarea,select{
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

a{
	color: #1C2C40;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "Circular-Std-Regular", Arial;
	font-weight: 400;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1100px;
}
@font-face {
	font-family: 'Circular-Std-Regular';
	src:url('../fonts/CircularStd-Regular.woff2') format('woff2');
	src:url('../fonts/CircularStd-Regular.woff') format('woff');
	font-style: normal;
}
@font-face {
    font-family: 'Circular-Std-Bold';
    src: url("../fonts/CircularStd-Bold.woff2") format("woff2");
    src: url("../fonts/CircularStd-Bold.woff") format("woff");
    font-style: normal
}

#home {
	padding: 25px 0;
	background-color: #e4fde1;
}
#home header {
	
	display: flex;
	justify-content:space-between;
	align-items: center;

}
#home header h1.left {
	width: 100px;
}
#home header h1.left a {
	width: 100%;
	display: block;
}
#home header h1.left a img {
	width: 100%;
	display: block;
}
#home header ul {
	display: flex;
	align-items: center;
}
#home header ul li {
	margin-right: 35px;
}
#home header ul li:last-child{
	margin-right: 0;
}
#home header ul li a {
	font-size: 20px;
	font-weight: 600;
}
#home header ul li a.button {
	padding: 10px 20px;
	border-radius: 4px solid;
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
    padding: 20px 30px;
    background: #f3f5e8;
    border: 3px solid #90cf8e;
    border-radius: 55px;
}
#home header nav.middle ul li {
	justify-self: center;
}
#home header nav ul.right li a {
	text-align: right;
}
header nav{
	
	display: flex;
	justify-content: right;
	align-items: center;
}
h1.left img {
	display: inline-block;
	width: 90px;
}

#spotlight{
	position: relative;
}
#spotlight div{
	
}
#spotlight div img{
	width: 100%;
	height: calc(100vh - 144px);	
}
#spotlight .owl-nav{
	margin: 0;
}
#spotlight .owl-nav button:nth-child(1){
	position: absolute;
	top: 250px;
	left: 20px;
}
#spotlight .owl-nav button span{
	display: inline-block;
	font-size: 116px;
}
#spotlight .owl-nav button:nth-child(2){
	position: absolute;
	top: 250px;
	right: 20px;
}
#spotlight h1{

	position: absolute;
    z-index: 3;
    top: 18%;
    left: 34%;
    font-size: 42px;
    font-weight: 700;
	font-family: 'Circular-Std-Bold';
}
#faq {
	background-color: #e4fde1;
	padding: 80px 0;
}
#faq h1{
	font-size: 38px;
    font-weight: 800;
    margin-bottom: 40px;
    text-align: center;
}
#faq p{
	font-size: 22px;
    color: #055a38;
    font-weight: 700;
}
#faq div.solutions{
	padding: 60px 20px;
}
#faq div.solutions  div.solution{
	padding: 40px 40px;
    box-shadow: -10px 54px 47px 32px #90cf8e;
    margin: 0 0 128px 0px;
    border: 2px solid #a3ffa352;
    border-radius: 45px;
}
#faq div.solutions  div.solution ol{
	list-style: decimal;
	margin-left: 28px;
	margin-left: 75px;
}
#faq div.solutions  div.solution ol li{
	font-size: 18px;
	font-weight: 800;
	margin-bottom: 12px;
}
#faq div.solutions  div.solution h2{
	text-transform: capitalize;
	font-size: 30px;
	font-weight: 800;
	margin-bottom: 24px;
}
#faq div.solutions  div.solution p{
	text-indent: 50px;
    font-size: 20px;
    font-weight: 700;
	margin-bottom: 24px;
}
#qna .wrapper{
	display: flex;
	justify-content: center;align-items: center;flex-direction: column;
}
#qna{

	background-color: #90cf8e;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #90cf8e;
    /* height: 100vh; */
	padding: 40px 0;
}

#qna h1{
	font-size: 40px;
	font-weight: 800;
	margin-bottom: 24px;
}
#qna p{
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 28px;
}
#qna form{

	background-color: #40873d;
	width: 62%;
	margin: 0 auto;
	border-radius: 32px;
	padding: 44px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
	box-shadow: -14px 20px 20px 8px #040404;
}
#qna form input{
	margin: 28px 0px 0;
    padding: 22px;
    background: beige;
    width: 15%;
    border-radius: 37px;
    font-size: 18px;
    font-weight: 700;
	border: 2px solid grey;
}
#qna form textarea{
	width: 80%;
	border-radius: 8px;
	background-color: #d1e8d1;
	padding: 0;
	font-size: 19px;
	font-weight: 600;
}

label{
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 24px;
	color: #fff;
}
#pricing{
	background-color:#dbeee0;
}
#pricing section.top{
	padding: 60px 0;
	text-align: center;
}
#pricing section.top h3{
	font-size: 42px;
	font-weight: 800;

	margin-bottom: 24px;
}
#pricing section.top button{
	padding: 18px 31px;
    background-color: #90cf8e;
    border-radius: 35px;
    font-size: 19px;
    font-weight: 700;
	margin-bottom: 24px;
}
#pricing section.top ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	display: none;
	width: 100%;
}
#pricing section.top ul li{
	list-style: none;
	width: 30%;
	background-color: #eefee7;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	padding: 40px;
	height: 36vh;
	border-radius: 16px;
}
#pricing section.top ul li h5{
	font-size: 22px;
    font-weight: 800;
}
#pricing section.top ul li h4{
	font-size: 19px;
    font-weight: 700;
}
#pricing section.top ul li span{
	font-size: 19px;
	font-weight: 600;
}
#pricing section.top ul li a.button{
	background: #90cf8e;
    padding: 15px 25px;
    border-radius: 38px;
    font-size: 18px;
    font-weight: 700;
}
footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #e2f1c8;
	width: 100%;
	padding: 40px;
}
footer a{
	font-weight: 800;
}
button:hover, a:hover, input[type="submit"]:hover{
	text-decoration: underline;
}

